@charset "UTF-8";
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body:before {
  background-image: -webkit-linear-gradient(left, transparent 0, lightBlue 0, lightBlue 4.34783%, transparent 4.34783%, transparent 8.69565%, lightBlue 8.69565%, lightBlue 13.04348%, transparent 13.04348%, transparent 17.3913%, lightBlue 17.3913%, lightBlue 21.73913%, transparent 21.73913%, transparent 26.08696%, lightBlue 26.08696%, lightBlue 30.43478%, transparent 30.43478%, transparent 34.78261%, lightBlue 34.78261%, lightBlue 39.13043%, transparent 39.13043%, transparent 43.47826%, lightBlue 43.47826%, lightBlue 47.82609%, transparent 47.82609%, transparent 52.17391%, lightBlue 52.17391%, lightBlue 56.52174%, transparent 56.52174%, transparent 60.86957%, lightBlue 60.86957%, lightBlue 65.21739%, transparent 65.21739%, transparent 69.56522%, lightBlue 69.56522%, lightBlue 73.91304%, transparent 73.91304%, transparent 78.26087%, lightBlue 78.26087%, lightBlue 82.6087%, transparent 82.6087%, transparent 86.95652%, lightBlue 86.95652%, lightBlue 91.30435%, transparent 91.30435%, transparent 95.65217%, lightBlue 95.65217%, lightBlue 100.0%, transparent 100.0%);
  background-image: -moz-linear-gradient(left, transparent 0, lightBlue 0, lightBlue 4.34783%, transparent 4.34783%, transparent 8.69565%, lightBlue 8.69565%, lightBlue 13.04348%, transparent 13.04348%, transparent 17.3913%, lightBlue 17.3913%, lightBlue 21.73913%, transparent 21.73913%, transparent 26.08696%, lightBlue 26.08696%, lightBlue 30.43478%, transparent 30.43478%, transparent 34.78261%, lightBlue 34.78261%, lightBlue 39.13043%, transparent 39.13043%, transparent 43.47826%, lightBlue 43.47826%, lightBlue 47.82609%, transparent 47.82609%, transparent 52.17391%, lightBlue 52.17391%, lightBlue 56.52174%, transparent 56.52174%, transparent 60.86957%, lightBlue 60.86957%, lightBlue 65.21739%, transparent 65.21739%, transparent 69.56522%, lightBlue 69.56522%, lightBlue 73.91304%, transparent 73.91304%, transparent 78.26087%, lightBlue 78.26087%, lightBlue 82.6087%, transparent 82.6087%, transparent 86.95652%, lightBlue 86.95652%, lightBlue 91.30435%, transparent 91.30435%, transparent 95.65217%, lightBlue 95.65217%, lightBlue 100.0%, transparent 100.0%);
  background-image: -ms-linear-gradient(left, transparent 0, lightBlue 0, lightBlue 4.34783%, transparent 4.34783%, transparent 8.69565%, lightBlue 8.69565%, lightBlue 13.04348%, transparent 13.04348%, transparent 17.3913%, lightBlue 17.3913%, lightBlue 21.73913%, transparent 21.73913%, transparent 26.08696%, lightBlue 26.08696%, lightBlue 30.43478%, transparent 30.43478%, transparent 34.78261%, lightBlue 34.78261%, lightBlue 39.13043%, transparent 39.13043%, transparent 43.47826%, lightBlue 43.47826%, lightBlue 47.82609%, transparent 47.82609%, transparent 52.17391%, lightBlue 52.17391%, lightBlue 56.52174%, transparent 56.52174%, transparent 60.86957%, lightBlue 60.86957%, lightBlue 65.21739%, transparent 65.21739%, transparent 69.56522%, lightBlue 69.56522%, lightBlue 73.91304%, transparent 73.91304%, transparent 78.26087%, lightBlue 78.26087%, lightBlue 82.6087%, transparent 82.6087%, transparent 86.95652%, lightBlue 86.95652%, lightBlue 91.30435%, transparent 91.30435%, transparent 95.65217%, lightBlue 95.65217%, lightBlue 100.0%, transparent 100.0%);
  background-image: -o-linear-gradient(left, transparent 0, lightBlue 0, lightBlue 4.34783%, transparent 4.34783%, transparent 8.69565%, lightBlue 8.69565%, lightBlue 13.04348%, transparent 13.04348%, transparent 17.3913%, lightBlue 17.3913%, lightBlue 21.73913%, transparent 21.73913%, transparent 26.08696%, lightBlue 26.08696%, lightBlue 30.43478%, transparent 30.43478%, transparent 34.78261%, lightBlue 34.78261%, lightBlue 39.13043%, transparent 39.13043%, transparent 43.47826%, lightBlue 43.47826%, lightBlue 47.82609%, transparent 47.82609%, transparent 52.17391%, lightBlue 52.17391%, lightBlue 56.52174%, transparent 56.52174%, transparent 60.86957%, lightBlue 60.86957%, lightBlue 65.21739%, transparent 65.21739%, transparent 69.56522%, lightBlue 69.56522%, lightBlue 73.91304%, transparent 73.91304%, transparent 78.26087%, lightBlue 78.26087%, lightBlue 82.6087%, transparent 82.6087%, transparent 86.95652%, lightBlue 86.95652%, lightBlue 91.30435%, transparent 91.30435%, transparent 95.65217%, lightBlue 95.65217%, lightBlue 100.0%, transparent 100.0%);
  background-image: linear-gradient(to left, transparent 0, lightBlue 0, lightBlue 4.34783%, transparent 4.34783%, transparent 8.69565%, lightBlue 8.69565%, lightBlue 13.04348%, transparent 13.04348%, transparent 17.3913%, lightBlue 17.3913%, lightBlue 21.73913%, transparent 21.73913%, transparent 26.08696%, lightBlue 26.08696%, lightBlue 30.43478%, transparent 30.43478%, transparent 34.78261%, lightBlue 34.78261%, lightBlue 39.13043%, transparent 39.13043%, transparent 43.47826%, lightBlue 43.47826%, lightBlue 47.82609%, transparent 47.82609%, transparent 52.17391%, lightBlue 52.17391%, lightBlue 56.52174%, transparent 56.52174%, transparent 60.86957%, lightBlue 60.86957%, lightBlue 65.21739%, transparent 65.21739%, transparent 69.56522%, lightBlue 69.56522%, lightBlue 73.91304%, transparent 73.91304%, transparent 78.26087%, lightBlue 78.26087%, lightBlue 82.6087%, transparent 82.6087%, transparent 86.95652%, lightBlue 86.95652%, lightBlue 91.30435%, transparent 91.30435%, transparent 95.65217%, lightBlue 95.65217%, lightBlue 100.0%, transparent 100.0%);
  content: "";
  display: inline-block;
  height: 100%;
  left: 0;
  margin: 0 auto;
  max-width: 100%;
  opacity: 0.4;
  pointer-events: none;
  position: fixed;
  right: 0;
  width: 100%;
  z-index: -1; }
  @media screen and (min-width: 768px) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, lightBlue 0, lightBlue 4.34783%, transparent 4.34783%, transparent 8.69565%, lightBlue 8.69565%, lightBlue 13.04348%, transparent 13.04348%, transparent 17.3913%, lightBlue 17.3913%, lightBlue 21.73913%, transparent 21.73913%, transparent 26.08696%, lightBlue 26.08696%, lightBlue 30.43478%, transparent 30.43478%, transparent 34.78261%, lightBlue 34.78261%, lightBlue 39.13043%, transparent 39.13043%, transparent 43.47826%, lightBlue 43.47826%, lightBlue 47.82609%, transparent 47.82609%, transparent 52.17391%, lightBlue 52.17391%, lightBlue 56.52174%, transparent 56.52174%, transparent 60.86957%, lightBlue 60.86957%, lightBlue 65.21739%, transparent 65.21739%, transparent 69.56522%, lightBlue 69.56522%, lightBlue 73.91304%, transparent 73.91304%, transparent 78.26087%, lightBlue 78.26087%, lightBlue 82.6087%, transparent 82.6087%, transparent 86.95652%, lightBlue 86.95652%, lightBlue 91.30435%, transparent 91.30435%, transparent 95.65217%, lightBlue 95.65217%, lightBlue 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, lightBlue 0, lightBlue 4.34783%, transparent 4.34783%, transparent 8.69565%, lightBlue 8.69565%, lightBlue 13.04348%, transparent 13.04348%, transparent 17.3913%, lightBlue 17.3913%, lightBlue 21.73913%, transparent 21.73913%, transparent 26.08696%, lightBlue 26.08696%, lightBlue 30.43478%, transparent 30.43478%, transparent 34.78261%, lightBlue 34.78261%, lightBlue 39.13043%, transparent 39.13043%, transparent 43.47826%, lightBlue 43.47826%, lightBlue 47.82609%, transparent 47.82609%, transparent 52.17391%, lightBlue 52.17391%, lightBlue 56.52174%, transparent 56.52174%, transparent 60.86957%, lightBlue 60.86957%, lightBlue 65.21739%, transparent 65.21739%, transparent 69.56522%, lightBlue 69.56522%, lightBlue 73.91304%, transparent 73.91304%, transparent 78.26087%, lightBlue 78.26087%, lightBlue 82.6087%, transparent 82.6087%, transparent 86.95652%, lightBlue 86.95652%, lightBlue 91.30435%, transparent 91.30435%, transparent 95.65217%, lightBlue 95.65217%, lightBlue 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, lightBlue 0, lightBlue 4.34783%, transparent 4.34783%, transparent 8.69565%, lightBlue 8.69565%, lightBlue 13.04348%, transparent 13.04348%, transparent 17.3913%, lightBlue 17.3913%, lightBlue 21.73913%, transparent 21.73913%, transparent 26.08696%, lightBlue 26.08696%, lightBlue 30.43478%, transparent 30.43478%, transparent 34.78261%, lightBlue 34.78261%, lightBlue 39.13043%, transparent 39.13043%, transparent 43.47826%, lightBlue 43.47826%, lightBlue 47.82609%, transparent 47.82609%, transparent 52.17391%, lightBlue 52.17391%, lightBlue 56.52174%, transparent 56.52174%, transparent 60.86957%, lightBlue 60.86957%, lightBlue 65.21739%, transparent 65.21739%, transparent 69.56522%, lightBlue 69.56522%, lightBlue 73.91304%, transparent 73.91304%, transparent 78.26087%, lightBlue 78.26087%, lightBlue 82.6087%, transparent 82.6087%, transparent 86.95652%, lightBlue 86.95652%, lightBlue 91.30435%, transparent 91.30435%, transparent 95.65217%, lightBlue 95.65217%, lightBlue 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, lightBlue 0, lightBlue 4.34783%, transparent 4.34783%, transparent 8.69565%, lightBlue 8.69565%, lightBlue 13.04348%, transparent 13.04348%, transparent 17.3913%, lightBlue 17.3913%, lightBlue 21.73913%, transparent 21.73913%, transparent 26.08696%, lightBlue 26.08696%, lightBlue 30.43478%, transparent 30.43478%, transparent 34.78261%, lightBlue 34.78261%, lightBlue 39.13043%, transparent 39.13043%, transparent 43.47826%, lightBlue 43.47826%, lightBlue 47.82609%, transparent 47.82609%, transparent 52.17391%, lightBlue 52.17391%, lightBlue 56.52174%, transparent 56.52174%, transparent 60.86957%, lightBlue 60.86957%, lightBlue 65.21739%, transparent 65.21739%, transparent 69.56522%, lightBlue 69.56522%, lightBlue 73.91304%, transparent 73.91304%, transparent 78.26087%, lightBlue 78.26087%, lightBlue 82.6087%, transparent 82.6087%, transparent 86.95652%, lightBlue 86.95652%, lightBlue 91.30435%, transparent 91.30435%, transparent 95.65217%, lightBlue 95.65217%, lightBlue 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, lightBlue 0, lightBlue 4.34783%, transparent 4.34783%, transparent 8.69565%, lightBlue 8.69565%, lightBlue 13.04348%, transparent 13.04348%, transparent 17.3913%, lightBlue 17.3913%, lightBlue 21.73913%, transparent 21.73913%, transparent 26.08696%, lightBlue 26.08696%, lightBlue 30.43478%, transparent 30.43478%, transparent 34.78261%, lightBlue 34.78261%, lightBlue 39.13043%, transparent 39.13043%, transparent 43.47826%, lightBlue 43.47826%, lightBlue 47.82609%, transparent 47.82609%, transparent 52.17391%, lightBlue 52.17391%, lightBlue 56.52174%, transparent 56.52174%, transparent 60.86957%, lightBlue 60.86957%, lightBlue 65.21739%, transparent 65.21739%, transparent 69.56522%, lightBlue 69.56522%, lightBlue 73.91304%, transparent 73.91304%, transparent 78.26087%, lightBlue 78.26087%, lightBlue 82.6087%, transparent 82.6087%, transparent 86.95652%, lightBlue 86.95652%, lightBlue 91.30435%, transparent 91.30435%, transparent 95.65217%, lightBlue 95.65217%, lightBlue 100.0%, transparent 100.0%); } }
  @media screen and (min-width: 1024px) {
    body:before {
      background-image: -webkit-linear-gradient(left, transparent 0, lightBlue 0, lightBlue 4.34783%, transparent 4.34783%, transparent 8.69565%, lightBlue 8.69565%, lightBlue 13.04348%, transparent 13.04348%, transparent 17.3913%, lightBlue 17.3913%, lightBlue 21.73913%, transparent 21.73913%, transparent 26.08696%, lightBlue 26.08696%, lightBlue 30.43478%, transparent 30.43478%, transparent 34.78261%, lightBlue 34.78261%, lightBlue 39.13043%, transparent 39.13043%, transparent 43.47826%, lightBlue 43.47826%, lightBlue 47.82609%, transparent 47.82609%, transparent 52.17391%, lightBlue 52.17391%, lightBlue 56.52174%, transparent 56.52174%, transparent 60.86957%, lightBlue 60.86957%, lightBlue 65.21739%, transparent 65.21739%, transparent 69.56522%, lightBlue 69.56522%, lightBlue 73.91304%, transparent 73.91304%, transparent 78.26087%, lightBlue 78.26087%, lightBlue 82.6087%, transparent 82.6087%, transparent 86.95652%, lightBlue 86.95652%, lightBlue 91.30435%, transparent 91.30435%, transparent 95.65217%, lightBlue 95.65217%, lightBlue 100.0%, transparent 100.0%);
      background-image: -moz-linear-gradient(left, transparent 0, lightBlue 0, lightBlue 4.34783%, transparent 4.34783%, transparent 8.69565%, lightBlue 8.69565%, lightBlue 13.04348%, transparent 13.04348%, transparent 17.3913%, lightBlue 17.3913%, lightBlue 21.73913%, transparent 21.73913%, transparent 26.08696%, lightBlue 26.08696%, lightBlue 30.43478%, transparent 30.43478%, transparent 34.78261%, lightBlue 34.78261%, lightBlue 39.13043%, transparent 39.13043%, transparent 43.47826%, lightBlue 43.47826%, lightBlue 47.82609%, transparent 47.82609%, transparent 52.17391%, lightBlue 52.17391%, lightBlue 56.52174%, transparent 56.52174%, transparent 60.86957%, lightBlue 60.86957%, lightBlue 65.21739%, transparent 65.21739%, transparent 69.56522%, lightBlue 69.56522%, lightBlue 73.91304%, transparent 73.91304%, transparent 78.26087%, lightBlue 78.26087%, lightBlue 82.6087%, transparent 82.6087%, transparent 86.95652%, lightBlue 86.95652%, lightBlue 91.30435%, transparent 91.30435%, transparent 95.65217%, lightBlue 95.65217%, lightBlue 100.0%, transparent 100.0%);
      background-image: -ms-linear-gradient(left, transparent 0, lightBlue 0, lightBlue 4.34783%, transparent 4.34783%, transparent 8.69565%, lightBlue 8.69565%, lightBlue 13.04348%, transparent 13.04348%, transparent 17.3913%, lightBlue 17.3913%, lightBlue 21.73913%, transparent 21.73913%, transparent 26.08696%, lightBlue 26.08696%, lightBlue 30.43478%, transparent 30.43478%, transparent 34.78261%, lightBlue 34.78261%, lightBlue 39.13043%, transparent 39.13043%, transparent 43.47826%, lightBlue 43.47826%, lightBlue 47.82609%, transparent 47.82609%, transparent 52.17391%, lightBlue 52.17391%, lightBlue 56.52174%, transparent 56.52174%, transparent 60.86957%, lightBlue 60.86957%, lightBlue 65.21739%, transparent 65.21739%, transparent 69.56522%, lightBlue 69.56522%, lightBlue 73.91304%, transparent 73.91304%, transparent 78.26087%, lightBlue 78.26087%, lightBlue 82.6087%, transparent 82.6087%, transparent 86.95652%, lightBlue 86.95652%, lightBlue 91.30435%, transparent 91.30435%, transparent 95.65217%, lightBlue 95.65217%, lightBlue 100.0%, transparent 100.0%);
      background-image: -o-linear-gradient(left, transparent 0, lightBlue 0, lightBlue 4.34783%, transparent 4.34783%, transparent 8.69565%, lightBlue 8.69565%, lightBlue 13.04348%, transparent 13.04348%, transparent 17.3913%, lightBlue 17.3913%, lightBlue 21.73913%, transparent 21.73913%, transparent 26.08696%, lightBlue 26.08696%, lightBlue 30.43478%, transparent 30.43478%, transparent 34.78261%, lightBlue 34.78261%, lightBlue 39.13043%, transparent 39.13043%, transparent 43.47826%, lightBlue 43.47826%, lightBlue 47.82609%, transparent 47.82609%, transparent 52.17391%, lightBlue 52.17391%, lightBlue 56.52174%, transparent 56.52174%, transparent 60.86957%, lightBlue 60.86957%, lightBlue 65.21739%, transparent 65.21739%, transparent 69.56522%, lightBlue 69.56522%, lightBlue 73.91304%, transparent 73.91304%, transparent 78.26087%, lightBlue 78.26087%, lightBlue 82.6087%, transparent 82.6087%, transparent 86.95652%, lightBlue 86.95652%, lightBlue 91.30435%, transparent 91.30435%, transparent 95.65217%, lightBlue 95.65217%, lightBlue 100.0%, transparent 100.0%);
      background-image: linear-gradient(to left, transparent 0, lightBlue 0, lightBlue 4.34783%, transparent 4.34783%, transparent 8.69565%, lightBlue 8.69565%, lightBlue 13.04348%, transparent 13.04348%, transparent 17.3913%, lightBlue 17.3913%, lightBlue 21.73913%, transparent 21.73913%, transparent 26.08696%, lightBlue 26.08696%, lightBlue 30.43478%, transparent 30.43478%, transparent 34.78261%, lightBlue 34.78261%, lightBlue 39.13043%, transparent 39.13043%, transparent 43.47826%, lightBlue 43.47826%, lightBlue 47.82609%, transparent 47.82609%, transparent 52.17391%, lightBlue 52.17391%, lightBlue 56.52174%, transparent 56.52174%, transparent 60.86957%, lightBlue 60.86957%, lightBlue 65.21739%, transparent 65.21739%, transparent 69.56522%, lightBlue 69.56522%, lightBlue 73.91304%, transparent 73.91304%, transparent 78.26087%, lightBlue 78.26087%, lightBlue 82.6087%, transparent 82.6087%, transparent 86.95652%, lightBlue 86.95652%, lightBlue 91.30435%, transparent 91.30435%, transparent 95.65217%, lightBlue 95.65217%, lightBlue 100.0%, transparent 100.0%); } }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Futura-Md-BT', Futura, Trebuchet MS, Arial, sans-serif;
  letter-spacing: 0.02em;
  line-height: 1;
  background: #f8f8f8;
  min-width: 320px;
  text-align: center; }

@font-face {
  font-family: 'FuturaBT-Book';
  src: url("/css/fonts/futura_book.eot");
  src: url("/css/fonts/futura_book.eot?#iefix") format("embedded-opentype"), url("/css/fonts/futura_book.svg#FuturaBT-Book") format("svg"), url("/css/fonts/futura_book.woff") format("woff"), url("/css/fonts/futura_book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Futura-Lt-BT';
  src: url("/css/fonts/FuturaBTW01Light.eot");
  src: url("/css/fonts/FuturaBTW01Light.eot?#iefix") format("embedded-opentype"), url("/css/fonts/FuturaBTW01Light.svg#FuturaBT-Book-Light") format("svg"), url("/css/fonts/FuturaBTW01Light.woff") format("woff"), url("/css/fonts/FuturaBTW01Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FuturaBT-Book-Heavy';
  src: url("/css/fonts/FuturaBTW01Heavy.eot");
  src: url("/css/fonts/FuturaBTW01Heavy.eot?#iefix") format("embedded-opentype"), url("/css/fonts/FuturaBTW01Heavy.svg#FuturaBT-Book-Heavy") format("svg"), url("/css/fonts/FuturaBTW01Heavy.woff") format("woff"), url("/css/fonts/FuturaBTW01Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Futura-Md-BT';
  src: url("/css/fonts/FuturaBTW01Medium.eot");
  src: url("/css/fonts/FuturaBTW01Medium.eot?#iefix") format("embedded-opentype"), url("/css/fonts/FuturaBTW01Medium.svg#FuturaBT-Book-Medium") format("svg"), url("/css/fonts/FuturaBTW01Medium.woff") format("woff"), url("/css/fonts/FuturaBTW01Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4 {
  letter-spacing: -0.025em;
  font-weight: normal; }

h1 {
  font-size: 22px;
  line-height: 28px;
  font-weight: normal;
  margin: 10px 0 15px; }

h2 {
  font-size: 18px;
  font-family: 'FuturaBT-Book';
  letter-spacing: 0;
  line-height: 20px; }

h3 {
  font-size: 18px;
  font-family: 'FuturaBT-Book';
  letter-spacing: 0;
  line-height: 20px; }

h4 {
  font-size: 18px; }

p {
  line-height: 1.3em;
  font-family: 'FuturaBT-Book'; }

.body-wrap {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  background: white; }

#map-canvas {
  height: 400px;
  margin: 20px 0;
  padding: 0px;
  opacity: .1; }

.location--requesting {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  color: black;
  border-bottom: 2px solid black;
  padding: 20px;
  text-align: center;
  width: 100%; }

.location--error {
  color: red;
  display: none; }

.btn {
  height: 30px;
  color: white;
  background: black;
  text-align: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  font-size: 12px;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  padding: 9px 33px;
  cursor: pointer;
  border: 0;
  outline: 1; }

header {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px 50px; }
  header > h1 {
    display: inline-block;
    margin: 0; }

.content--store-nearby {
  display: none;
  background: darkGreen;
  height: 120px;
  padding: 40px;
  color: white; }

#result {
  padding: 50px 0 0; }

.img--full {
  width: 100%; }

body {
  margin: 0;
  min-width: 320px; }

.header {
  min-height: 200px;
  background: pink;
  margin-bottom: 4.34783%; }

.grid-container {
  max-width: 86.4%;
  margin-left: auto;
  margin-right: auto; }
  .grid-container::after {
    clear: both;
    content: "";
    display: table; }
  @media screen and (min-width: 768px) {
    .grid-container {
      max-width: 91.8%;
      margin-left: auto;
      margin-right: auto; }
      .grid-container::after {
        clear: both;
        content: "";
        display: table; } }
  @media screen and (min-width: 1024px) {
    .grid-container {
      max-width: 100%;
      margin-left: auto;
      margin-right: auto; }
      .grid-container::after {
        clear: both;
        content: "";
        display: table; } }

.grid-item {
  float: left;
  display: block;
  margin-right: 4.34783%;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  background: pink;
  margin: 0 0 4.34783% 0;
  opacity: .8; }
  .grid-item:last-child {
    margin-right: 0; }
  .grid-item:nth-child(4n) {
    margin-right: 0; }
  .grid-item:nth-child(4n+1) {
    clear: left; }
  @media screen and (min-width: 768px) {
    .grid-item {
      float: left;
      display: block;
      margin-right: 4.34783%;
      width: 47.82609%;
      padding-bottom: 50%; }
      .grid-item:last-child {
        margin-right: 0; }
      .grid-item:nth-child(4n) {
        margin-right: 4.34783%; }
      .grid-item:nth-child(4n+1) {
        clear: none; }
      .grid-item:nth-child(2n) {
        margin-right: 0; }
      .grid-item:nth-child(2n+1) {
        clear: left; } }
  @media screen and (min-width: 1024px) {
    .grid-item {
      float: left;
      display: block;
      margin-right: 4.34783%;
      width: 21.73913%;
      padding-bottom: 25%; }
      .grid-item:last-child {
        margin-right: 0; }
      .grid-item:nth-child(2n) {
        margin-right: 4.34783%; }
      .grid-item:nth-child(2n+1) {
        clear: none; }
      .grid-item:nth-child(4n) {
        margin-right: 0; }
      .grid-item:nth-child(4n+1) {
        clear: left; } }

/*# sourceMappingURL=main.css.map */
