/**
*
* Settings
*
**/
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Futura-Md-BT', Futura, Trebuchet MS, Arial, sans-serif;
  letter-spacing: 0.02em;
  line-height: 1;
  min-width: 320px;
  text-align: center; }

@font-face {
  font-family: 'FuturaBT-Book';
  src: url("/css/fonts/futura_book.eot");
  src: url("/css/fonts/futura_book.eot?#iefix") format("embedded-opentype"), url("/css/fonts/futura_book.svg#FuturaBT-Book") format("svg"), url("/css/fonts/futura_book.woff") format("woff"), url("/css/fonts/futura_book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Futura-Lt-BT';
  src: url("/css/fonts/FuturaBTW01Light.eot");
  src: url("/css/fonts/FuturaBTW01Light.eot?#iefix") format("embedded-opentype"), url("/css/fonts/FuturaBTW01Light.svg#FuturaBT-Book-Light") format("svg"), url("/css/fonts/FuturaBTW01Light.woff") format("woff"), url("/css/fonts/FuturaBTW01Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'FuturaBT-Book-Heavy';
  src: url("/css/fonts/FuturaBTW01Heavy.eot");
  src: url("/css/fonts/FuturaBTW01Heavy.eot?#iefix") format("embedded-opentype"), url("/css/fonts/FuturaBTW01Heavy.svg#FuturaBT-Book-Heavy") format("svg"), url("/css/fonts/FuturaBTW01Heavy.woff") format("woff"), url("/css/fonts/FuturaBTW01Heavy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Futura-Md-BT';
  src: url("/css/fonts/FuturaBTW01Medium.eot");
  src: url("/css/fonts/FuturaBTW01Medium.eot?#iefix") format("embedded-opentype"), url("/css/fonts/FuturaBTW01Medium.svg#FuturaBT-Book-Medium") format("svg"), url("/css/fonts/FuturaBTW01Medium.woff") format("woff"), url("/css/fonts/FuturaBTW01Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
h1, h2, h3, h4 {
  letter-spacing: -0.025em;
  font-weight: normal; }

h1 {
  font-size: 22px;
  line-height: 28px;
  font-weight: normal;
  margin: 0 0 15px; }

h2 {
  font-size: 18px;
  font-family: 'FuturaBT-Book';
  letter-spacing: 0;
  line-height: 20px; }

h3 {
  font-size: 18px;
  font-family: 'FuturaBT-Book';
  letter-spacing: 0;
  line-height: 20px; }

h4 {
  font-size: 18px; }

p {
  line-height: 1.3em;
  font-family: 'FuturaBT-Book'; }

.body-wrap {
  max-width: 1000px;
  margin: 0 auto;
  text-align: left;
  background: white; }

#map-canvas {
  height: 400px;
  margin: 20px 0;
  padding: 0px;
  opacity: .1; }

.location--requesting {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  color: black;
  border-bottom: 2px solid black;
  padding: 20px;
  text-align: center;
  width: 100%; }

.location--error {
  color: red;
  display: none; }

.btn {
  height: 30px;
  color: white;
  background: black;
  text-align: center;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  font-size: 12px;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  padding: 9px 33px;
  cursor: pointer;
  border: 0;
  outline: 1; }

.content--store-nearby {
  display: none;
  background: darkGreen;
  height: 120px;
  padding: 40px;
  color: white; }

#result {
  padding: 50px 0 0; }

.img--full {
  width: 100%; }

.grid-content--title:after {
  content: 'Narrow (< 768px)'; }
  @media (min-width: 768px) {
    .grid-content--title:after {
      content: 'Medium (>= 768px)'; } }
  @media (min-width: 1024px) {
    .grid-content--title:after {
      content: 'Large (>= 1024px)'; } }
  @media (min-width: 1440px) {
    .grid-content--title:after {
      content: 'Wide (>= 1440px)'; } }

.grid-content--devices:after {
  content: 'Mobile'; }
  @media (min-width: 768px) {
    .grid-content--devices:after {
      content: 'Tablet Portrait'; } }
  @media (min-width: 1024px) {
    .grid-content--devices:after {
      content: 'Tablet Landscape, Small Desktop'; } }
  @media (min-width: 1440px) {
    .grid-content--devices:after {
      content: 'Desktop'; } }

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box; }

body {
  margin: 0;
  min-width: 320px; }

.header {
  background: #dcebf0;
  margin-bottom: 50px;
  padding: 50px 0; }

.debug-grid-overlay {
  position: fixed;
  top: 0;
  opacity: .05;
  display: block;
  left: 4%; }
  .app--hide-grid .debug-grid-overlay {
    display: none; }
  @media (min-width: 768px) {
    .debug-grid-overlay {
      left: 8%; } }
  @media (min-width: 1024px) {
    .debug-grid-overlay {
      left: 10%; } }
  @media (min-width: 1440px) {
    .debug-grid-overlay {
      left: 10%; } }

.gutter {
  width: 92%;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .gutter {
      width: 84%; } }
  @media (min-width: 1024px) {
    .gutter {
      width: 80%; } }
  @media (min-width: 1440px) {
    .gutter {
      width: 80%; } }

.module--debug-grid .grid-item {
  width: 8.33333%;
  float: left;
  /* &:nth-child(12n+12) {
    @include span(1 last);
  } */ }
  @media (min-width: 768px) {
    .module--debug-grid .grid-item {
      width: -100%;
      float: left; } }
  @media (min-width: 1440px) {
    .module--debug-grid .grid-item {
      width: -333.33333%;
      float: left; } }
  .module--debug-grid .grid-item > .grid-item__content {
    background: black;
    height: 10000px;
    margin-top: 0; }
.module--gallery .grid-item {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 0;
  padding-bottom: 90%;
  background: #dcebf0;
  height: 100px;
  margin-bottom: 50px; }
  @media (min-width: 768px) {
    .module--gallery .grid-item {
      width: -700%;
      float: left;
      padding-bottom: 23%;
      /* &:nth-child(2n+2) {
        @include span(4 last); // TODO - this is being inherited below!
      } */ } }
  @media (min-width: 1440px) {
    .module--gallery .grid-item {
      width: -1200%;
      float: left;
      padding-bottom: 15%;
      /* &:nth-child(12n+12) {
        @include span(3);
      }

      &:nth-child(2n+2) {
        @include span(3); // todo - not working
      }

      &:nth-child(3n+3) {
        @include span(3 last);
      } */ } }
.module--headline .grid-item {
  padding: 50px 0;
  margin-bottom: 50px; }

.grid-item__content {
  margin: 25% 25%; }
  @media (min-width: 768px) {
    .grid-item__content {
      margin: 25% 12.5%; } }
  @media (min-width: 1024px) {
    .grid-item__content {
      margin: 25% 8.333%; } }
  @media (min-width: 1440px) {
    .grid-item__content {
      margin: 25% 8.333%; } }

.module--headline {
  text-align: left;
  background: #dcebf0; }

/*# sourceMappingURL=main.css.map */
