/**
*
* Settings
*
**/

// Defining breakpoints
$bp-small: 480px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-wide: 1440px;

// Global gutters
// Used for the margin - todo - remember to minus gutter from edge amrgin dims on design
$gg-small: 5.2%;
$gg-medium: 8%;
$gg-large: 10%;
$gg-wide: 10%;

// including outer gutter - for creating full width modules which snap to the grid
$gg-trimmed-small: 6.8%;
$gg-trimmed-medium: 10%;
$gg-trimmed-large: 12%;
$gg-trimmed-wide: 12%;

// Defining container widths
$container-small: 480px;
$container-medium: 768px;
$container-large: 1024px;
$container-wide: 1440px;

// Defining grid columns
$g-small: 37.5%;
$g-medium: 25%;
$g-large: 16.666%;
$g-wide: 16.666%;

// Defining spacing/gutter size
$spacing: 1rem;

// Susy settings
// http://susydocs.oddbird.net/en/latest/settings/
$susy: (
  columns: 12,
  gutter-position: after,
  gutters: (0),
  global-box-sizing: border-box,
  debug: (
    image: hide,
    color: rgba(blue, .10)
  )
);

$susy-small: $container-small (0) 1 after;
$susy-medium: $container-medium (0) 1 after;
$susy-large: $container-large (0) (.3) after;
$susy-wide: $container-wide (0) (.3) after;


// Breakpoint-sass option
// https://github.com/at-import/breakpoint/wiki/Basic-Media-Queries#em-based-media-queries
$breakpoint-to-ems: true;


// flex html class
$has-flex: has-flex !default;
$no-flex: no-flex !default;


// Media query helpers
// Aliases for susy-breakpoint
// http://susydocs.oddbird.net/en/latest/toolkit/#breakpoint
@mixin small {
  @include susy-breakpoint($bp-small, $susy-small) { @content };
}

@mixin to-small {
  @include susy-breakpoint(0 ($bp-small - 1), $susy-small) { @content };
}

@mixin small-only {
  @include susy-breakpoint($bp-small ($bp-medium - 1), $susy-small) { @content };
}


@mixin medium {
  @include susy-breakpoint($bp-medium, $susy-medium) { @content };
}

@mixin to-medium {
  @include susy-breakpoint(0 ($bp-medium - 1), $susy-small) { @content };
}

@mixin medium-only {
  @include susy-breakpoint($bp-medium ($bp-wide - 1), $susy-medium) { @content };
}

@mixin large {
  @include susy-breakpoint($bp-large, $susy-large) { @content };
}

@mixin to-large {
  @include susy-breakpoint(0 ($bp-large - 1), $susy-large) { @content };
}


@mixin wide {
  @include susy-breakpoint($bp-wide, $susy-wide) { @content };
}

@mixin to-wide {
  @include susy-breakpoint(0 ($bp-wide - 1), $susy-wide) { @content };
}
