@import "susy";
@import "mixins";
@import "_grid-settings";
@import "global";

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}

section.full-width {

}

.header {
  min-height: 200px;
  background: pink;
  margin-bottom: 50px;
}

section.gutter {

  width: 92%;
  margin: 0 auto;

  // @include media($tablet) {
  //   width: 84%;
  // }

  // @include media($desktop) {
  //   width: 84%;
  // }
}

.grid-container {

  
}


.grid-item {

  background: lightGrey;

  .module--debug-grid & {
      @include span(1);

      @include medium {
        @include span(1);
      }

      @include wide {
        @include span(1);
      }
      
      background: pink;
      height: 20px;
      margin-bottom: 50px;
    
  }

  .module--gallery & {
    @include span(12);
    height: 0;
    padding-bottom: 100% - 10%;

    @include medium {
      @include span(4);
      padding-bottom: 33% - 10%;
    }

    @include wide {
      @include span(3);
      padding-bottom: 25% - 10%;
    }
    
    height: 100px;
    margin-bottom: 50px;
  }

}
