


@import "susy";
@import "mixins";
@import "grid-settings";
@import "global";
@import "theme";
@import "modules";
@import "content";


* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}

.full-width {
  clear: both;
}

hr {
  &.clear {
    margin: 50px 0 50px 0;
    padding: 0;
    height: 0;
    border: none;
    clear: both;

    @include at-breakpoint($bp-medium) {
      margin: 0 0 $module-spacing-medium 0;
    }

    @include at-breakpoint($bp-large) {
      margin: 0 0 $module-spacing-large 0;
    }

    @include at-breakpoint($bp-wide) {
      margin: 0 0 $module-spacing-wide 0;
    }

  }

  &.module-divide {
    margin: 50px 0 50px 0;
    padding: 0;
    height: 1px;
    background: $c-module-bg;
    border: none;
    clear: both;

    
  }
}

.module--mb {

  margin: 0 0 $module-spacing-small 0;

  @include at-breakpoint($bp-medium) {
    margin: 0 0 $module-spacing-medium 0;
  }

  @include at-breakpoint($bp-large) {
    margin: 0 0 $module-spacing-large 0;
  }

  @include at-breakpoint($bp-wide) {
    margin: 0 0 $module-spacing-wide 0;
  }
}

.header {
  background: pink;
  margin-bottom: 50px;
  padding: 50px 0;
}

.debug-grid-overlay {
  position: fixed;
  top: 0;
  z-index: 1;
  pointer-events: none;
  display: block;
  min-width: 336px;
  opacity: .5;

  .app--hide-grid & {
    display: none;
    
  }

  left: $gg-small;

  @include at-breakpoint($bp-medium) {
    left: $gg-medium;
  }

  @include at-breakpoint($bp-large) {
    left: $gg-large;
  }

  @include at-breakpoint($bp-wide) {
    left: $gg-wide;
  }
  
}

// for base grid
.global-gutter {

  width: 100% - ($gg-small * 2);
  margin: 0 auto;

  @include at-breakpoint($bp-medium) {
    width: 100% - ($gg-medium * 2);
  }

  @include at-breakpoint($bp-large) {
    width: 100% - ($gg-large * 2);
  }

  @include at-breakpoint($bp-wide) {
    width: 100% - ($gg-wide * 2);
  }
}

.gutter {
  width: 100% - ($gg-small * 2);
  margin: 0 auto;
  clear: both;

  @include at-breakpoint($bp-medium) {
    width: 100% - ($gg-medium * 2);
  }

  @include at-breakpoint($bp-large) {
    width: 100% - ($gg-large * 2);
  }

  @include at-breakpoint($bp-wide) {
    width: 100% - ($gg-wide * 2);
  }
}

.grid-container {
  clear: both;
}




.grid-item {

  .module--debug-grid & {
    @include span(1 no-gutters);

    @include medium {
      @include span(1 no-gutters);
    }

    @include wide {
      @include span(1 no-gutters);
    }

    > .grid-item__content {
      background: $c-highlight;
      height: 10000px;
      margin-top: 0;
    }
    
  }

}

.grid-item__content {

  margin: $g-small $g-small;

  @include at-breakpoint($bp-medium) {
    margin: $g-small $g-medium;
  }

  @include at-breakpoint($bp-large) {
    margin: $g-small $g-large;
  }

  @include at-breakpoint($bp-wide) {
    margin: $g-small $g-wide;
  }
}

.module--headline {
  text-align: left;
  background: $c-module-bg;
}

.module--footer {
  padding: 50px 0;
}

