@import "susy";
@import "mixins";
@import "_grid-settings";
@import "global";
@import "content";

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}

section.full-width {

}

.header {
  background: pink;
  margin-bottom: 50px;
  padding: 50px 0;
}

.gutter {

  width: 92%;
  margin: 0 auto;

  // @include media($tablet) {
  //   width: 84%;
  // }

  // @include media($desktop) {
  //   width: 84%;
  // }
}

.grid-container {

  
}


.grid-item {

  background: lightGrey;


  .module--debug-grid & {
    @include span(1);

    &:last-child {
      @include span(1 of 12 last);
    }

    @include medium {
      @include span(1);
    }

    @include wide {
      @include span(1);
    }
    
    background: pink;
    height: 20px;
    margin-bottom: 50px;
    
  }

  .module--gallery & {
    @include span(12);
    height: 0;
    padding-bottom: 100% - 10%;

    @include medium {
      @include span(4);
      padding-bottom: 33% - 10%;
    }

    @include wide {
      @include span(3);
      padding-bottom: 25% - 10%;
    }
    
    height: 100px;
    margin-bottom: 50px;
  }

  .module--headline & {
    padding: 50px 0;
    margin-bottom: 50px;
    

    > h1, > h2 {
      // @include span(isolate 10 at 2);
      
      
    }
  }

}

.module--headline {
  text-align: left;
  background: lightBlue;
}



