<footer class="footer">
  <ul>
    <li class="curpointer" ng-if="extraSectionLabel" ui-sref="{{ extraSectionTargetState }}"><label>{{ extraSectionLabel }}</label><i class="icon icon--bevel-right"></i></li>
    <li class="curpointer" ng-if="extraSectionLabel2" ui-sref="{{ extraSectionTargetState2 }}"><label>{{ extraSectionLabel2 }}</label><i class="icon icon--bevel-right"></i></li>
    <li><label>Support</label><i class="icon icon--bevel-right"></i></li>
    <li class="social"><label class="label--follow">Follow Us</label></li>
    <li><label class="label--country">UK</label><i class="icon icon--plus-grey"></i></li>
    <li><label class="label--logo"></label><i class="icon icon--plus-grey"></i></li>
  </ul>
  <div class="footer__bottom">
    <p>Tested using EN 60312-1:2013 Cl 5.1, 5.2, 5.3, 5.9.<br>At bin full DC41 Mk2 removes more dust in total from hard floors, carpets and crevices.</p>
    <p>Bosch Athlet 25.2V and Dyson DC59.<br>Suction test based on IEC 60312-1, 5.8 and 5.9 loaded to bin full, tested at the hose.</p>
  </div>
</footer>