@import "../scripts/components/expandable-section/expandable-section-styles";
@import "../scripts/components/nice-image/nice-image-styles";
@import "../scripts/components/section-item/section-item-styles";


.section-title {
  display: block;
  // background: lightBlue;
  height: $barHeight;
  cursor: pointer;
  position: relative;
  z-index: 4;
  padding: 17px;
  font-size: $fontSizeRegular;

  @include at-breakpoint($bp-large) {
    border-right: 1px solid #333333;
    width: auto;
    padding: 21px 24px;
  }
}
