
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
}

.full-width {
  clear: both;
  overflow: auto;
}

.wide-overlay {
  position: relative;
  z-index: 1;
  background: black !important;
  position: fixed;
  top: 0;
  width: 100%;

  &:after {
    content: '';
    width: 100%;
    background: black;
    height: $headerBarHeight;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
  }
}

hr {
  &.clear {
    margin: 100px 0 100px 0;
    padding: 0;
    height: 0;
    border: none;
    clear: both;

    /* @include at-breakpoint($bp-medium) {
      margin: 0 0 $module-spacing-medium 0;
    } */

    @include at-breakpoint($bp-large) {
      margin: 0 0 $module-spacing-large 0;
    }

    /* @include at-breakpoint($bp-wide) {
      margin: 0 0 $module-spacing-wide 0;
    } */

  }

  &.module-divide {
    margin: 50px 0 50px 0;
    padding: 0;
    height: 1px;
    background: $c-module-bg;
    border: none;
    clear: both;

    
  }
}

.debug-grid-overlay {
  position: fixed;
  top: 0;
  z-index: 1;
  pointer-events: none;
  display: block;
  min-width: 336px;

  .app--hide-grid & {
    display: none;
    
  }

  left: $gg-small;

  /* @include at-breakpoint($bp-medium) {
    left: $gg-medium;
  } */

  @include at-breakpoint($bp-large) {
    left: $gg-large;
  }

  /* @include at-breakpoint($bp-wide) {
    left: $gg-wide;
  } */
  
}

// for base grid
.global-gutter {

  width: 100% - ($gg-small * 2);
  margin: 0 auto;
  max-width: 1440px;

  /* @include at-breakpoint($bp-medium) {
    width: 100% - ($gg-medium * 2);
  } */

  @include at-breakpoint($bp-large) {
    width: 100% - ($gg-large * 2);
  }

  /* @include at-breakpoint($bp-wide) {
    width: 100% - ($gg-wide * 2);
  } */
}

.gutter {
  width: 100% - ($gg-small * 2);
  margin: 0 auto;
  clear: both;
  max-width: 1440px;
  
  @include at-breakpoint($bp-large) {
    width: 100% - ($gg-large * 2);
  }
}

.gutter-from-large {
  width: 100%;
  margin: 0 auto;
  clear: both;

  @include at-breakpoint($bp-large) {
    width: 100% - ($gg-large * 2);
  }
}

.gutter-upto-large {
  width: 100% - ($gg-small * 2);
  margin: 0 auto;
  clear: both;

  @include at-breakpoint($bp-large) {
    width: 100%;
  }

}

.grid-container {

}




.grid-item {

  .module--debug-grid & {
    @include span(1 no-gutters);

    > .grid-item__content {
      background: $c-highlight;
      height: 10000px;
      margin-top: 0;
    }
    
  }

  &.grid-item--single {
    @include span(1 no-gutters);
  }

}

.grid-item__content {

  margin: 0 $g-small;

  .module & {
    border: 1px solid rgba(40, 204, 204, 0.35);

    .app--hide-grid & {
      border: none;
    }
  }

  /* @include at-breakpoint($bp-medium) {
    margin: $g-small $g-medium;
  } */

  @include at-breakpoint($bp-large) {
    margin: 0 $g-large;
  }

  /* @include at-breakpoint($bp-wide) {
    margin: $g-small $g-wide;
  } */
}

.dot {
  width: 16px;
  height: 16px;
  margin: 20px auto;
  border-radius: 50%;
  background: white;

  @include at-breakpoint($bp-large) {
    width: 32px;
    height: 32px;
  }
}
