// new icons
.dyson-icon {
  color: white;
  font-size: 24px;
  @include prefixr(user-select, none);
}

// old icons
.icon {
  width: $iconSize;
  height: $iconSize;
  display: inline-block;
  background: url(/assets/images/icons-sprite.png) 0 0 no-repeat;
  background-size: 480px 400px;
  cursor: pointer;

  &.icon--nav-find-retailer {
    background-position: #{-($iconSizeLarge * 3) - 7px} #{-($iconSizeLarge * 9) - 8px};
  }
  &.icon--nav-basket {
    background-position: -8px #{-($iconSizeLarge * 9) - 8px};
  }
  &.icon--nav-search {
    background-position: #{-($iconSizeLarge * 2) - 7px} #{-($iconSizeLarge * 9) - 8px};
  }

  &.icon--menu {
    background-position: 0 #{-($iconSizeLarge * 7)};
  }
  &.icon--plus {
    background-position: #{-($iconSizeLarge)} #{-($iconSizeLarge * 7)};
  }
  &.icon--plus-grey {
    background-position: #{-($iconSizeLarge * 3)} #{-($iconSizeLarge * 7)};
  }
  &.icon--close {
    background-position: #{-($iconSizeLarge * 6)} #{-($iconSizeLarge * 7)};
  }
  &.icon--minus {
    background-position: #{-($iconSizeLarge * 8)} #{-($iconSizeLarge * 7)};
  }
  &.icon--search {
    background-position: 0 -18px;
  }
  &.icon--bevel-right {
    background-position: #{-($iconSizeLarge * 5)} #{-($iconSizeLarge * 7)};
  }
  &.icon--bevel-right-white {
    background-position:  #{-($iconSizeLarge * 4)} #{-($iconSizeLarge * 7)};
  }
  &.icon--plus-black {
    background-position:  #{-($iconSizeLarge * 2)} #{-($iconSizeLarge * 7)};
  }
  &.icon--minus-black {
    background-position:  #{-($iconSizeLarge * 7)} #{-($iconSizeLarge * 7)};
  }

  /* login */
  &.icon--my-dyson-guarantee {
    height: 36px;
    width: 36px;
    background-position:  #{-($iconSizeLarge * 0) - 2px} #{-($iconSizeLarge * 2)};
  }
  &.icon--my-dyson-customer {
    height: 36px;
    width: 36px;
    background-position:  #{-($iconSizeLarge * 1) - 2px} #{-($iconSizeLarge * 2)};
  }
  &.icon--my-dyson-offers {
    height: 36px;
    width: 36px;
    background-position:  #{-($iconSizeLarge * 2) - 2px} #{-($iconSizeLarge * 2)};
  }
  &.icon--my-dyson-tech {
    height: 36px;
    width: 36px;
    background-position:  #{-($iconSizeLarge * 3) - 2px} #{-($iconSizeLarge * 2)};
  }

  /* my dyson */
  &.icon--split-learn {
    background-size: 288px 210px;
    background-position: #{-(24px * 7)} #{-(24px * 2)};
    height: 24px;
    width: 24px;
  }
  &.icon--split-delivery {
    background-size: 288px 210px;
    background-position: 0 #{-(24px * 3)};
    height: 24px;
    width: 24px;
  }
  &.icon--my-dyson-tools {
    height: 36px;
    width: 36px;
    background-position:  #{-($iconSizeLarge * 4) - 2px} #{-($iconSizeLarge * 2)};
  }
  &.icon--my-dyson-spare {
    height: 36px;
    width: 36px;
    background-position:  #{-($iconSizeLarge * 5) - 2px} #{-($iconSizeLarge * 2)};
  }
  &.icon--my-dyson-help {
    height: 36px;
    width: 36px;
    background-position:  #{-($iconSizeLarge * 6) - 2px} #{-($iconSizeLarge * 2)};
  }
  &.icon--my-dyson-learn {
    height: 36px;
    width: 36px;
    background-position:  #{-($iconSizeLarge * 7) - 2px} #{-($iconSizeLarge * 2)};
  }

  /* finder */
  &.icon--finder-need-vacuum {
    height: 36px;
    width: 36px;
    background-position: 0 0;
  }
  &.icon--finder-need-fan {
    height: 36px;
    width: 36px;
    background-position: -($iconSizeLarge + 2px) 0;
  }
  &.icon--finder-fans {
    height: 36px;
    width: 36px;
    background-position: -($iconSizeLarge + 2px) 0;
  }
  &.icon--finder-hand {
    height: 36px;
    width: 36px;
    background-position: #{-($iconSizeLarge * 3) - 2px} #{-($iconSizeLarge * 5)};
  }
  &.icon--finder-parts {
    height: 36px;
    width: 36px;
    background-position: #{-($iconSizeLarge * 4) - 2px} #{-($iconSizeLarge * 5);}
  }
  &.icon--close-small {
    height: 36px;
    width: 36px;
    background-position: #{-($iconSizeLarge * 10)} 0;
  }

  /* find a retailer */
  &.icon--retailer-wkend {
    height: 36px;
    width: 36px;
    background-position: #{-($iconSizeLarge * 6) - 1px} #{-($iconSizeLarge * 5)};
  }
  &.icon--retailer-opening {
    height: 36px;
    width: 36px;
    background-position: #{-($iconSizeLarge * 5) - 1px} #{-($iconSizeLarge * 5)};
  }
  &.icon--retailer-buy-1 {
    height: 36px;
    width: 36px;
    background-position: #{-($iconSizeLarge * 7) - 1px} #{-($iconSizeLarge * 5)};
  }
  &.icon--retailer-buy-2 {
    height: 36px;
    width: 36px;
    background-position: #{-($iconSizeLarge * 8) - 1px} #{-($iconSizeLarge * 5)};
  }

  /* Q1 */
  &.icon--finder-small { background-position: -($iconSizeLarge * 2) 0; }
  &.icon--finder-medium { background-position: -($iconSizeLarge * 3) 0; }
  &.icon--finder-large { background-position: -($iconSizeLarge * 4) 0; }

  /* Q2 */
  &.icon--finder-mixed { background-position: -($iconSizeLarge * 5) 0; }
  &.icon--finder-carpet { background-position: -($iconSizeLarge * 6) 0; }
  &.icon--finder-hard { background-position: -($iconSizeLarge * 7) 0; }

  /* Q3 */
  &.icon--finder-stairs { background-position: -($iconSizeLarge * 8) 0; }

  /* Q4 */
  &.icon--finder-ceilings { background-position: -($iconSizeLarge * 9) 0; }

  /* Q5 */
  &.icon--finder-kids { background-position: 0 #{-($iconSizeLarge);} }
  &.icon--finder-dogs { background-position: -($iconSizeLarge) #{-($iconSizeLarge);} }
  &.icon--finder-cats { background-position: -($iconSizeLarge * 2) #{-($iconSizeLarge);} }
  &.icon--finder-long-hair { background-position: -($iconSizeLarge * 3) #{-($iconSizeLarge);} }
  &.icon--finder-porcupine { background-position: -($iconSizeLarge * 4) #{-($iconSizeLarge);} }

  /* Q6 */
  &.icon--finder-pollen { background-position: -($iconSizeLarge * 5) #{-($iconSizeLarge);} }

  /* Q6 */
  &.icon--finder-car { background-position: -($iconSizeLarge * 6) #{-($iconSizeLarge);} }
  &.icon--finder-caravan { background-position: -($iconSizeLarge * 7) #{-($iconSizeLarge);} }
  &.icon--finder-boat { background-position: -($iconSizeLarge * 8) #{-($iconSizeLarge);} }
  &.icon--finder-van { background-position: -($iconSizeLarge * 9) #{-($iconSizeLarge);} }
  &.icon--finder-private-jet { background-position: -($iconSizeLarge * 10) #{-($iconSizeLarge);} }

}