

$barPadding: 2px 5px; // todo




/*==========  VARIABLES  ==========*/

$barHeight: 53px;
$headerBarHeight: 58px;

// Defining animation easings
$animationEasing: cubic-bezier(.455, .030, .515, .955);
$fontSizeBase: 15px;
$colorDividerGrey: #363636;
$colorProductLinkGrey: #575756;
$colorLightBg: #f8f8f8;
$colorLightGrey: #f0f0f0;
$colorCatLinkBorder: #d6d6d6;
$colorIconBg: #000000;
$colorIconInactive: #999999;
$colorNavGrey: #f3f3f3;
$colorSearchBorder: #e6e6e8;
$colorTextGrey: #9c9b9b;
$barHeight: 58px;
$pageOffset: $barHeight * 2;
$iconSize: 18px;
$iconSizeLarge: 40px;
$dysonYellow: #f6bc36;
$colorHighlightBlue: #0066cc;