.header {
  width: 100%;
  min-width: 320px;
  display: block;
  white-space: nowrap;
  font-size: 0;
  background: black;
  height: $headerBarHeight;

  // overlay to sit on top of expanding content, but below the items in the header bar
  &:after {
    content: '';
    width: 100%;
    background: black;
    height: $headerBarHeight;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3;
  }
}
