.header {
  width: 100%;
  min-width: 320px;
  display: block;
  white-space: nowrap;
  font-size: 0;
  background: black;
  height: $headerBarHeight;

  // overlay to sit on top of expanding content, but below the items in the header bar
  &:after {
    content: '';
    width: 100%;
    background: black;
    height: $headerBarHeight;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3;
  }
}
.header__logo {
  display: inline-block !important;
  height: $headerBarHeight;
  padding-left: 0 !important;

  @include at-breakpoint($bp-large) {
    position: absolute !important;
    left: 0;
    top: 0;
    padding-left: 24px !important;
  }
}
.dyson-logo {
  width: 55px;
  position: relative;
  z-index: 4;
  margin-top: 2px;

  @include at-breakpoint($bp-large) {
    margin-top: -1px;
  }
}
.trigger {
  display: inline-block;
  background: black;
  height: $headerBarHeight;
  vertical-align: top;
  position: relative;
  z-index: 4;
  padding: 17px;
  cursor: pointer;

  > button {
    font-size: 12px;
  }

  @include at-breakpoint($bp-large) {
    display: none;
  }
}