.section-item {
  
  height: $barHeight;
  background: red;
  font-size: $fontSizeBase;
  position: relative;
  z-index: 4;

  @include at-breakpoint($bp-large) {
    display: inline-block;
  }

  > i {
    display: inline-block;
  }
}
