
$sectionShort: 160px;
$sectionMedium: 200px;
$sectionTall: 240px;

.expandable-section {
  display: block;
  max-height: $barHeight;
  overflow-y: hidden;
  overflow-x: visible;

  > .section-title {
    display: inline-block;
    vertical-align: top;

    @include at-breakpoint($bp-large) {
      &:hover {
        background: white;
        color: black;
      }
    }
  }

  // @include prefixr(transition, max-height .3s $animationEasing);
  
  @include at-breakpoint($bp-large) {
    @include prefixr(transition, none);
  }
  // @include prefixr(transform, translateZ(0));

  &.expandable-section--short {
    height: $sectionShort + $barHeight;
  }
  &.expandable-section--medium {
    height: $sectionMedium + $barHeight;
  }
  &.expandable-section--tall {
    height: $sectionTall + $barHeight;
  }

  &.ng-click-active {
    background: rgba(16, 16, 16, 1);
  }

  // open state
  &.expandable-section--open {
    
    @include at-breakpoint($bp-large) {
      max-height: $barHeight !important;
    }
    &.expandable-section--short {
      max-height: $sectionShort + $barHeight;
    }
    &.expandable-section--medium {
      max-height: $sectionMedium + $barHeight;
    }
    &.expandable-section--tall {
      max-height: $sectionTall + $barHeight;
    }
  }

  &.expandable-section--locked-open {
    @include up-to-width($bp-large) {
      @include at-breakpoint($bp-large) {
        max-height: $barHeight !important;
      }
      &.expandable-section--short {
        max-height: $sectionShort + $barHeight;
      }
      &.expandable-section--medium {
        max-height: $sectionMedium + $barHeight;
      }
      &.expandable-section--tall {
        max-height: $sectionTall + $barHeight;
      }
    }
  }

  // inside main nav
  .nav--main & {
    // background: lightBlue;
    display: block;
    width: 100%;

    font-size: 12px;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;

    @include at-breakpoint($bp-large) {
      display: inline-block;
      width: auto;
    }
  }

  // inside main nav
  .nav--extra & {
    font-size: 12px;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;
    white-space: nowrap;
    float: right;

    display: inline-block;
    // width: (100% / 3.0);
    height: $headerBarHeight;
    text-align: center;

    @include at-breakpoint($bp-large) {
      border-right: 1px solid black;
    }

  }

}

.expandable-section__content {
  display: block;
  height: $sectionShort;
  padding: 0;
  width: 100%;
  background: white;
  overflow-y: hidden;

  .nav--extra & {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 0;
    width: 100%;
    pointer-events: none;
    // @include prefixr(transform, translateY($headerBarHeight - $navTransitionDistance));
    @include prefixr(transform, translateY($headerBarHeight));
    // @include prefixr(transition, opacity .2s $animationEasing);

    @include at-breakpoint($bp-large) {
      opacity: 1;
      pointer-events: all;


    }
  }

  .search-bar & {
    @include at-breakpoint($bp-large) {
      height: $headerBarHeight;
      width: 90px - 20px;
      background: black;
      display: inline-block;
      z-index: 4;
      transform: none;
      position: relative;
      padding: 15px 32px 15px 24px;
      overflow: hidden;
    }
    @include at-breakpoint($bp-large + 20px) {
      width: 110px - 20px;
    }
    @include at-breakpoint($bp-large + 65px) {
      width: 140px - 20px;
    }
    @include at-breakpoint($bp-large + 80px) {
      width: 155px - 20px;
    }
    @include at-breakpoint($bp-large + 100px) {
      width: 170px - 20px;
    }
    @include at-breakpoint($bp-large + 130px) {
      width: 200px - 20px;
    }
    @include at-breakpoint($bp-large + 170px) {
      width: 230px - 20px;
    }
    @include at-breakpoint($bp-large + 200px) {
      width: 250px - 20px;
    }
    @include at-breakpoint($bp-large + 250px) {
      width: 310px - 20px;
    }
    @include at-breakpoint($bp-large + 300px) {
      width: 358px - 20px;
    }
    @include at-breakpoint($bp-large + 400px) {
      width: 420px - 20px;
    }
    @include at-breakpoint($bp-large + 500px) {
      min-width: 510px - 20px;
    }
    @include at-breakpoint($bp-large + 600px) {
      min-width: 620px - 20px;
    }
  }
  
  @include up-to-width($bp-large) {
    .expandable-section--open & {
      .nav--extra & {
        // @include prefixr(transform, translateY($headerBarHeight));
        opacity: 1;
        z-index: 2;
        pointer-events: auto;
      }
    }
    &.expandable-section--locked-open {
      .nav--extra & {
          opacity: 1;
          z-index: 2;
          pointer-events: auto;
      }
    }
  }
  

  @include at-breakpoint($bp-large) {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    opacity: 1;
    display: none;
    pointer-events: auto;
    @include prefixr(transition, none);
    @include prefixr(transform, translateY($headerBarHeight));

    :hover >& {
      display: block;
      opacity: 1;
    }
    
  }

  @include up-to-width($bp-large) {
    .expandable-section--locked-open & {
      display: block;
      opacity: 1;
    }
    .expandable-section--open & {
      display: block;
      opacity: 1;
    }
  }

  &.expandable-section--short {
    height: $sectionShort;
  }
  &.expandable-section--medium {
    height: $sectionMedium;
  }
  &.expandable-section--tall {
    height: $sectionTall;
  }
}

.expandable-section__title {
  .search-bar & {

    border-right: none;

    @include at-breakpoint($bp-large) {
      display: none;
      border-right: 1px solid #333333;
    }
  }
}