$card-height: 200px;
$card-expanded-height: 445px;

.card {
  width: 100%;
  height: $card-height;
  // margin: 50px 10px;
  background: lightBlue;
  display: inline-block;
  vertical-align: top;
  position: relative;
  background: $c-light-1;
  overflow: hidden;
  @include prefix(box-shadow, 1px 1px $c-shadow-light);

  &.card__expand-trigger {
    display: none;
  }
  &.card--expandable {
    @include prefix(transition, height .4s ease);
  }
  &.card--expanded {
    height: $card-expanded-height;
  }
}
.card__expand-trigger {

  position: absolute;
  right: 0;
  top: 0;

  .card--expandable & {
    display: inline-block;
  }
  &:before {
    content: '+';

    .card--expanded & {
      content: '-';
    }
  }
}
.card__expanded {
  position: absolute;
  top: $card-height;
  left: 0;
  width: 100%;
  background: grey;
  height: $card-expanded-height - $card-height;
}


