<nav class="nav" ng-class="{'nav--open':open,'nav--no-trans':disableTransition}">
  <div class="nav__top">
    <a class="nav__trigger" ng-click="open=!open;activeHeaderItem=''"><i class="dyson-icon dyson-icon-Dyson_Hamburger"></i><i class="dyson-icon dyson-icon-Dyson_Close"></i></a>
    <div class="nav__logo"  ng-click="open=false" ui-sref="main.shop"></div>
    <ul class="nav__icons">
      <li ng-class="{'nav__icons--active':(activeHeaderItem=='finder')}" ng-click="onHeaderItemClicked('finder')"><i class="dyson-icon dyson-icon-Dyson_store_Finder"></i></li>
      <li ng-click="onHeaderItemClicked('basket')"><i class="dyson-icon dyson-icon-Dyson_Basket"></i></li>
      <li ng-class="{'nav__icons--active':(activeHeaderItem=='search')}" ng-click="onHeaderItemClicked('search')"><i class="dyson-icon dyson-icon-Dyson_Search"></i><i class="dyson-icon dyson-icon-Dyson_Plus"></i></li>
    </ul>
  </div>
  <div class="nav__main">
    <ul>
      
      <li expandable-item data-icon="Dyson_Chevron" data-label="Products" data-open="expandedItemIndex==0">
        <ul class="expandable-item__products products--main">
          <li ng-repeat="item in navItems" ng-click="onProductClicked()">
            <div class="image"></div>
            <label>{{ item.name }}</label>
          </li>
        </ul>
      </li>
      <li class="nav__item nav__item--link"><label class="nav-item__label">Service and Support</label><i class="dyson-icon dyson-icon-Dyson_Chevron"></i></li>
      <li class="nav__item nav__item--link nav__item--secondary"><label class="nav-item__label">Fix my Dyson</label><i class="dyson-icon dyson-icon-Dyson_Chevron"></i></li>
      <li class="nav__item nav__item--link nav__item--secondary"><label class="nav-item__label">Spare parts and accessories</label><i class="dyson-icon dyson-icon-Dyson_Chevron"></i></li>
      
      <li class="nav__item nav__item--link"><label class="nav-item__label">Inside Dyson</label><i class="dyson-icon dyson-icon-Dyson_Chevron"></i></li>
      <li class="nav__item nav__item--link"><label class="nav-item__label">My Dyson</label><i class="dyson-icon dyson-icon-Dyson_Chevron"></i></li>

  </div>
</nav>
