<nav class="nav" ng-class="{'nav--open':open,'nav--no-trans':disableTransition}">

  <div class="nav__main">
    <ul>
      
      <li expandable-item data-icon="Dyson_Chevron" data-label="Products" data-open="expandedItemIndex==0">
        <ul class="expandable-item__products products--main">
          <li ng-repeat="item in navItems" ng-click="onProductClicked()">
            <div class="image"></div>
            <label>{{ item.name }}</label>
          </li>
        </ul>
      </li>
      <li class="nav__item nav__item--link"><label class="nav-item__label">Service and Support</label><i class="dyson-icon dyson-icon-Dyson_Chevron"></i></li>
      <li class="nav__item nav__item--link nav__item--secondary"><label class="nav-item__label">Fix my Dyson</label><i class="dyson-icon dyson-icon-Dyson_Chevron"></i></li>
      <li class="nav__item nav__item--link nav__item--secondary"><label class="nav-item__label">Spare parts and accessories</label><i class="dyson-icon dyson-icon-Dyson_Chevron"></i></li>
      
      <li class="nav__item nav__item--link"><label class="nav-item__label">Inside Dyson</label><i class="dyson-icon dyson-icon-Dyson_Chevron"></i></li>
      <li class="nav__item nav__item--link"><label class="nav-item__label">My Dyson</label><i class="dyson-icon dyson-icon-Dyson_Chevron"></i></li>

  </div>
</nav>
