$navHeight: 58px;

$headerHeight: 58px;
$navItemHeight: 58px;

.nav {
  width: 100%;
  min-width: 320px;
  display: block;
  background: black;
  height: $headerHeight;
  position: relative;
  z-index: 3;

  &:before {
    content: '';
    background: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    // @include prefixr(transition, opacity .1s);
    opacity: 0;
    pointer-events: none;
  }

  &.nav--open {
    &:before {
      opacity: 1;
    }
  }

  &.nav--open {
    z-index: 10;
    height: auto;
  }
}
.nav__top {
  height: $headerHeight;
  color: white;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    display: block;
    height: 100%;
    width: 127px;
    background: black;
  }
}
  .nav__logo {
    background: url(/assets/images/logo.svg) 20px 20px no-repeat;
    background-size: 57px 22px;
    width: 80px;
    height: $headerHeight;
    position: absolute;
    left: 57px;
    opacity: 1;
    cursor: pointer;
    /*@include prefixr(transition, opacity .6s);*/

/*    .nav--open & {
      opacity: 0;
    }*/
  }
  .nav__trigger {
    height: $headerHeight;
    width: 56px;
    border-right: 1px solid #333333;
    border-left: 1px solid black;
    padding: 0;
    text-align: center;
    cursor: pointer;
    position: absolute;
    background: black;
    z-index: 1;

    > i {
      display: block;
      width: 56px;
      height: 24px;
      margin: 17px auto;
      font-size: 24px;
      line-height: 1;

      &.icon--menu, &.dyson-icon-Dyson_Hamburger {
        display: inline-block;
      }
      &.icon--close, &.dyson-icon-Dyson_Close {
        display: none;
      }
    }

    .nav--open & {

      height: $headerHeight + 1px;
      
      // hack to hide border over gutter
      &:after {
        content: '';
        display: block;
        width: 20px;
        height: 1px;
        background: black;
        position: absolute;
        left: -18px;
        bottom: 0;
      }

      > i {
        &.icon--menu, &.dyson-icon-Dyson_Hamburger {
          display: none;
        }
        &.icon--close, &.dyson-icon-Dyson_Close {
          display: inline-block;
        }
      }
    }

    /*&:before {
      content: '☰';
      display: block;
      font-size: 24px;
      line-height: 1;
      position: absolute;
      top: 0;
      left: 0;
      padding: 18px 16px;
      height: $headerHeight;
      width: 55px;
      @include bb();

      .nav--open & {
        content: '×';
        padding-right: 200px;
      }
    }*/
  }
  .nav__icons {
    position: absolute;
    width: 50%;
    height: $headerHeight;
    margin: 0 6px 0 0;
    padding: 0;
    display: block;
    top: 0;
    right: 0;
    text-align: right;
    font-size: 0;
    white-space: nowrap;
    // overflow: hidden;

    @include from-width(360px) {
      width: 60%;
    }

    > li {
      display: inline-block;
      height: $headerHeight;
      width: 56px;
      border-left: 1px solid #333333;
      border-right: 1px solid black;
      background: green;
      /*background-size: 120px 34px;*/
      cursor: pointer;
      z-index: 1;
      list-style-type: none;
      // @include prefixr(border-radius, 50%);
      background: black;
      text-align: center;

      > .dyson-icon-Dyson_Plus {
        display: none;
      }

      &.nav__icons--active {
        height: $headerHeight + 1px;
        position: relative;
        z-index: 4;

        &:last-child {
          position: relative;

          > .dyson-icon-Dyson_Search {
            display: none;
          }
          > .dyson-icon-Dyson_Plus {
            display: block;
          }
          
          // hack to hide border over gutter
          &:after {
            content: '';
            display: block;
            width: 7px;
            height: 1px;
            background: black;
            position: absolute;
            right: -7px;
            bottom: 0;
            z-index: 4;
          }
        }
      }

      > i {
        display: block;
        width: 56px;
        height: 24px;
        margin: 17px auto;
        font-size: 24px;
        line-height: 1;
      }
    }
  }

/* active icon state */
.app--nav-retailer .nav__icons > li:nth-child(2) {
  background: $dysonYellow;
}
.app--nav-basket .nav__icons > li:nth-child(1) {
  background: $dysonYellow;
}
.app--nav-basket .nav__icons .icon--nav-basket {
  background-position: #{-($iconSizeLarge * 4) - 8px} #{-($iconSizeLarge * 9) - 8px};
}
.app--nav-retailer .nav__icons .icon--nav-find-retailer {
  background-position: #{-($iconSizeLarge * 7) - 7px} #{-($iconSizeLarge * 9) - 8px};
}
.nav__main {

  /*@include prefixr(transform, translateX(-100%) translateZ(0));*/
  // @include prefixr(transition, opacity .4s);
  opacity: 0;
  pointer-events: none;
  @include prefixr(transition, all .4s $animationEasing);
  @include prefixr(transform, translateY(-$barHeight));

  .nav--open & {
    /*@include prefixr(transform, translateX(0));*/
    opacity: 1;
    pointer-events: auto;
    border-top: 1px solid $colorDividerGrey;
    @include prefixr(transform, translateY(0));
  }

  .nav--no-trans & {
    @include prefixr(transition, none);
  }

  > ul {
    margin: 0;
    padding: 0 0 $navItemHeight;

    > li {
      list-style-type: none;
      display: block;
      @include bb();
      margin: 0;
      padding: 0;
      border-bottom: 1px solid transparent;
      cursor: pointer;

      &:nth-child(1) {
        .dyson-icon-Dyson_Minus {
          display: none !important;
        }
        .dyson-icon-Dyson_Chevron {
          display: block !important;
        }
      }

      .nav--open & {
        border-bottom: 1px solid $colorDividerGrey;
      }
      
    }
  }
}
.nav__item {
  display: block;
  height: 30px;
  margin-top: 5px !important;
  overflow-y: hidden;
  /*background: black;*/
  position: relative;

  &.nav__item--link {
    height: $navItemHeight - 6px;
    padding: 17px 24px;

    > .dyson-icon {
      position: absolute;
      right: 20px;
      top: 10px;
    }

    .nav-item__label {
      padding: 0;
    }
  }
}
.nav__item--plain {
  border-bottom: none !important;
}
.nav__item--top-margin {
  margin-top: 12px !important;
}

.nav-item__label {
  height: 30px;
  font-size: 18px;
  line-height: 1;
  padding: 6px 24px;
  color: white;
  position: absolute;
}

.nav__item--secondary {
  
  /* hack to appear indented - end of lots of design changes */
  position: relative;
  overflow: visible;

  &:after {
    position: absolute;
    content: '';
    height: 1px;
    width: 25px;
    top: -6px;
    left: 0;
    background: black;
    display: block;
    width: 24px;
  }

  > .dyson-icon {
    color: #666666;
  }

  > .nav-item__label {
    color: #666666;
    font-size: 16px;
    font-family: 'FuturaBT-Book';
    line-height: 23px;
  }
}

.nav__footer {
  height: 50px;
  /*background: black;*/
  color: white;
  text-align: left;
  padding: 13px 16px 14px;
  white-space: nowrap;
  position: relative;

  > span, > a {
    font-size: 18px;
    line-height: 1;
    color: rgba(255,255,255,.5);
  }

  > a, > a:hover {
    text-decoration: none;
  }

  > span {
    padding: 0 15px;
  }
}
