

.nav {
  // display: inline-block;
  display: block;
  white-space: normal;
  background: white;
  margin: 0;
  padding: 0;
  font-size: 0;
  // position: relative;
  vertical-align: top;
}
.nav--main {

  position: fixed;
  left: 0;
  width: 100%;
  top: $headerBarHeight;
  border-top: 1px solid #333333;
  height: $headerBarHeight;
  background: black;
  z-index: -1;
  opacity: 0;
  // @include prefixr(transition, all .4s $animationEasing);
  @include prefixr(transform, translateY(-$navTransitionDistanceLarge));

  &.nav--open {
    @include prefixr(transform, translateY(0));
    opacity: 1;
    z-index: 1;
  }

  @include at-breakpoint($bp-large) {
    position: static;
    width: 75%;
    width: 100%;
    z-index: 1;
    opacity: 1;
    @include prefixr(transition, none);
    @include prefixr(transform, none);
    padding-left: 100px; // to make room for dyson logo
    border-top: none;
    // overlay to sit on top of expanding content, but below the items in the header bar
    /* &:after {
      content: '';
      width: 100%;
      background: yellow;
      height: $headerBarHeight;
      display: block;
      top: 0;
      left: 0;
      position: absolute;
      z-index: 2;
    } */
  }

  /* > .nav-item {

    background: lightBlue;
    display: block;
    width: 100%;

    @include at-breakpoint($bp-large) {
      display: inline-block;
      background: blue;
      width: 20%;
    }
  } */
}
.nav--extra {
  height: $headerBarHeight;
  position: absolute;
  right: 0;
  top: 0;
  width: auto;
  z-index: 4;
  min-width: 150px;
  white-space: nowrap;
  border-left: 1px solid #333333;

  // overlay to sit on top of expanding content, but below the items in the header bar
  /* &:after {
    content: '';
    width: 100%;
    background: yellow;
    height: $headerBarHeight;
    display: block;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 2;
  } */

  @include at-breakpoint($bp-large) {
    z-index: 4;
    width: 27%;
  }
  @include at-breakpoint($bp-large + 20px) {
    z-index: 4;
    width: 29%;
  }
  @include at-breakpoint($bp-large + 50px) {
    width: 30%;
  }
  @include at-breakpoint($bp-large + 70px) {
    width: 31%;
  }
  @include at-breakpoint($bp-large + 80px) {
    width: 32%;
  }
  
  @include at-breakpoint($bp-large + 100px) {
    width: 33%;
  }
  @include at-breakpoint($bp-large + 110px) {
    width: 34%;
  }
  @include at-breakpoint($bp-large + 120px) {
    width: 35%;
  }
  @include at-breakpoint($bp-large + 140px) {
    width: 36%;
  }
  @include at-breakpoint($bp-large + 155px) {
    width: 37%;
  }
  @include at-breakpoint($bp-large + 180px) {
    width: 38%;
  }
  @include at-breakpoint($bp-large + 200px) {
    width: 39%;
  }
  @include at-breakpoint($bp-large + 220px) {
    width: 40%;
  }
  @include at-breakpoint($bp-large + 230px) {
    width: 41%;
  }
  @include at-breakpoint($bp-large + 250px) {
    width: 42%;
  }
  @include at-breakpoint($bp-large + 270px) {
    width: 42.5%;
  }
  
  @include at-breakpoint($bp-large + 300px) {
    width: 44%;
  }
  @include at-breakpoint($bp-large + 320px) {
    width: 45%;
  }
  @include at-breakpoint($bp-large + 400px) {
    width: 49%;
  }
  @include at-breakpoint($bp-large + 600px) {
    width: 54%;
  }

  .section-title {
    border-right: 1px solid #333333;

    @include at-breakpoint($bp-large) {
      padding: 17px 24px;
    }
  }

  > .nav-item {
    font-size: 12px;
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: top;

    width: (100% / 3.0);
    height: $headerBarHeight;
    background: pink;
    text-align: center;

    @include at-breakpoint($bp-large) {
      border-right: 1px solid black;
    }
  }
}
